body {
    background-position: center;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: relative;
}

main {
    width: calc(100%);
    height: 100%;
    background-color: #fdfcc3;
    color: #222;
    border: solid #a8a86d 8px;
    border-radius: 35px;
    padding: 18px;
    font-size: 40px;
}

h1 { 
    padding: 18px;
    text-align: center;
    font-size: 70px;
    color:#0a0a46;
}

input {
    height: 50px;
    width: 400px;
    font-size: inherit;
    border: solid #451886 1px;
    border-radius: 8px;
    margin: 7px;
    padding: 18px;
}
button {
    background-color: chocolate;
    color: #451886;
    border: solid 2px #333;
    border-radius: 18px;
    width: 200px;
    height: 90px;
    margin: 10px;
    font-size: inherit;
}

button:hover { 
    background-color: coral;
    color: #222;
}
button:active { background-color: rgb(89, 255, 0); }

span, abbr {
    padding: inherit;
    font-size: 60px;
    font-weight: 200;
    text-align: center;
    color: #191970;
} 


#result { font-weight: bold; }

#current { font-weight: bold; }

@media (min-width:500px) {
    body {
        background-position: center;
        background-color: #000000;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        padding: 40px;
    }
    main {
        padding: 1px;
        background-color: #fdfcc3;
        color: #222;
        border: solid #a8a86d 8px;
        border-radius: 35px;
        text-align: start;
    }
    input {
        border: solid #451886 1px;
        border-radius: 8px;
        margin: 7px;
    }
    button {
        background-color: chocolate;
        color: #451886;
        border: solid 2px #333;
        border-radius: 9px;
        margin: 10px;
    }
    h1 { padding-right: 30px; color:#0a0a46; }
    
    #result { font-weight: bold; }
    
    #current { font-weight: bold; }
}