/* A CSS to mobile */
body {
    font-family: arial, sans-serif;
    background-color: #fdfcc3;
    color: #222;
    font-size: 40px;
    border: solid #000 10px;
    border-radius: 35px;
    padding-left: 20px;
}
main {
    padding: 0 10px 0 10px;
}

h1 { 
    padding: 18px;
    text-align: initial;
    font-size: 90px;
    padding: 90px 40px;
    color:#0a0a46;
    text-shadow: #111 2px 3px 4px;
}

input {
    height: 50px;
    width: 400px;
    font-size: inherit;
    border: solid #451886 1px;
    border-radius: 35px;
    margin: 7px;
    padding: 18px;
}

#rangeInput {
    height: 50px;
    width: 500px;
}
#principal, #years {
    margin: 70px 0 30px 10px;
}

#principal:focus, #years:focus {
    box-shadow: #0a0a46 3px 5px 7px;
}

button {
    background-color: orange;
    color: #451886;
    border: solid 4px rgb(89, 88, 88);
    border-radius: 24px;
    width: 240px;
    height: 100px;
    margin: 50px 20px;
    font-size: inherit;
    box-shadow: black 6px 4px 15px 4px;
}

button:hover, button:active { 
    color: red;
    box-shadow: #000 -5px -6px -13px -5px;
    background-color: #222;
}

span, abbr {
    padding: inherit;
    font-size: 60px;
    font-weight: 200% bold;
    text-align: center;
    color: #191970;
} 

#result, #current { font-weight: bold; }